.listContainer {
    flex: 1;
    position: relative;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: rgba(121, 167, 5, .5);
    z-index: 1;
}

.listTitle {
    background-color: rgba(121, 167, 5, 1);
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listContent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 16px 10px 16px 10px;
}

.listItemsContainer {
    flex: 1;
    max-height: 300px;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.selectContainer {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 4px;
}

.hoverButtonContainer {
    gap: 10px;
    position: absolute;
    right: 10px;
    top: 7px;

    &.hidden {
        display: none;
    }

    &.visible {
        display: flex;
    }
}

.topSelect {
    background-color: lightgrey;
    height: 20px;
    border-radius: 5px;
    border: darkgreen 2px solid;
}

.listItem {
    display: flex;
    flex-direction: row;
    border: darkgreen 2px solid;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.archiveListItem {
    display: flex;
    flex-direction: row;
    border: darkgreen 2px solid;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;

    .listItemComponent {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.expanded {
            white-space: wrap;
        }
    }
}

.legend {
    display: flex;
    flex-direction: row;
    background-color: rgba(121, 167, 5, 1);
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    justify-content: space-between;
    cursor: pointer;

    .legendComponent {
        flex: 1;
        font-weight: bold;
    }
}

.longtermListItem {
    display: flex;
    position: relative;
    flex-direction: row;
    border: darkgreen 2px solid;
    border-radius: 5px;
    padding: 10px;
    height: fit-content;
    cursor: pointer;

    .listItemComponent {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.expanded {
            white-space: wrap;
        }
    }
}

.itemDeadline {
    margin-left: auto;
}

.alternatives {
    padding-top: 10px;
    align-self: center;
}