.navigation {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: aquamarine;
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
}

.navButton {
    background-color: transparent;

    &.active {
        background-color: rgb(80, 218, 172);
    }
}

.create {
    margin-left: auto;
}