.navigation {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgba(226, 161, 7, .5);
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
}

.navButton {
    background-color: transparent;

    &.active {
        background-color: rgba(226, 161, 7, 1);
    }
}

.create {
    margin-left: auto;
}