.navigation {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: aquamarine;
    width: 100vw;
    height: fit-content;
}

.navButton {
    background-color: transparent;

    &.active {
        background-color: rgb(80, 218, 172);
    }
}

.logout {
    margin-left: auto;
}