.overlayContainer {
    display: flex;
    justify-content: center;
}

.overlayBackground {
    background-color: black;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.overlay {
    background-color: white;
    border-radius: 5px;
    width: fit-content;
    min-width: 200px;
    height: fit-content;
    position: fixed;
    padding: 0 20px 20px 20px;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlayTitle {
    background-color: rgba(226, 161, 7, .5);
    width: calc(100% + 35px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20px;
    padding: 2px 2px 2px 3px;
    font-weight: bold;
}

.overlayButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.center {
        justify-content: center;
    }

    button {
        background-color: rgba(226, 161, 7, .5);
    }
}

.overlayContent {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 10px;
    padding-bottom: 20px;

    &.center {
        align-items: center;
    }
}

.deadlineContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .deadlineCheckbox {
        margin-right: 3px;
    }
}

input {
    margin: 1px;
}

textarea {
    margin: 1px;
}

.bold {
    font-weight: bold;
}