.overviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        flex-direction: row;
        width: 90vw;
        gap: 20px;
        margin-top: 20px;
    }
}