.overviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        display: flex;
        flex-direction: row;
        width: 90vw;
        gap: 10px;
        margin-top: 10px;
        align-items: stretch;
    }
}