.sliderContainer {
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(121, 167, 5, .5);
}

.sliderTitle {
    background-color: rgba(121, 167, 5, 1);
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.innerSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;

    button {
        padding: 0;
        display: flex;
        align-items: center;
        border-radius: 100%;
        background-color: transparent;
    }

    .disabled {
        cursor: default;
        border: none;
    }
}

.sliderContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 16px 10px 16px 10px;
}

.slideContainer {
    width: 200px;
    border: chocolate 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    cursor: pointer;
    flex-direction: column;
    align-items: center;

    p {
        margin-bottom: 0;
    }

    &.visible {
        display: flex;
    }

    &.hidden {
        display: none;
    }
}

.slideTitle {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}

.red {
    color: red;
}