.sliderContainer {
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(226, 161, 7, .5);
}

.sliderTitle {
    background-color: rgba(226, 161, 7, 1);
    font-weight: bold;
    padding: 2px 2px 2px 4px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sliderContent {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 16px 10px 16px 10px;
}

.slideContainer {
    width: 200px;
    border: chocolate 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin: auto;

    p {
        margin-bottom: 0;
    }
}

.slideTitle {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}

.red {
    color: red;
}