.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .comment {
        margin-top: -30px;
        margin-bottom: 30px;
    }
}

.statisticsOverviewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.statisticContainer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: darkgreen 2px solid;
    align-items: center;
    justify-content: center;
    padding: 0 20px 10px 20px;
    text-align: center;
    width: 250px;
}

.percentage {
    font-weight: bold;
    font-size: 3rem;
}